html, body {
    height: 100%;
}

body {
    font-family: 'Inter';
    font-style: normal;
    color: #22356F;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

[class*="__image"]{
    max-width: 100%;
    object-fit: cover;
}

/*--------------------Header--------------------*/

.header {
    background: linear-gradient(to right, #F4F9E2 73.5%, #FFFFFF 26.5%);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
}

.header__logo {
    margin-bottom: 0;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.nav__link {
    padding-right: 11px;
    padding-left: 11px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: bold;
    color: #22356F;
}

.nav__link:hover {
    border-bottom: 2px solid #22356F;
    padding-bottom: 5px;
}

.header__button {
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    background: #62D0DF;
    border-radius: 50px;
    border: none;
}

.header__button:hover {
    background: #F9B640;
}

/*--------------------Head--------------------*/

.section-head {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background: linear-gradient(to right, #F4F9E2 73.5%, rgb(255, 255, 255) 26.5%);
    padding-bottom: 5vh;
}

.section-head__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 10vw;
}

.section-head__content {
    max-width: 32vw;
}

.section-head__subtitle {
    margin-bottom: 0px;
    font-size: 1.4em;
    line-height: 1em;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.section-head__title {
    margin-top: 4vh;
    margin-bottom: 5vh;
    font-size: 2.6em;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: -0.035em;
    color: #22356F;
}

.section-head__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
    line-height: 1.9em;
    color: #22356F;
}

.section-head__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;    
}

.section-head__button {
    width: 150px;
    height: 50px;
    margin-right: 33px;
    background: #F9B640;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
}

.section-head__button-1:hover {
    background: #62D0DF;
}

.section-head__button_clear {
    color: #FAB63E;
    background: none;
}

.section-head__button_clear:hover {
    text-decoration: underline;
}

/*--------------------Why Thrive--------------------*/

.section-whythrive {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: #62D0DF;
}

.section-whythrive__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 10vw;
}

.section-whythrive__content {
    max-width: 36vw;
}

.section-whythrive__title {
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 2em;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.section-whythrive__text {
    margin-top: 5vh;
    font-size: 1.35em;
    font-weight: bold;
    line-height: 1.6em;
    color: #FFFFFF;
}

.section-whythrive__text_small {
    font-weight: normal;
    font-size: 0.8em;
}

/*--------------------About us--------------------*/

.section-about__info {
    display: flex;
    flex-direction: row;
    min-height: 35vh;
    padding-left: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.section-about__title {
    align-self: flex-start;
    margin-top: 10vh;
    margin-bottom: 0;
    width: 23vw;
    font-size: 0.8em;
    line-height: 2em;
    letter-spacing: 0.06em;
    color: #22356F;
}

.section-about__text {
    width: 35vw;
    margin-top: 10vh;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.7em;
    letter-spacing: 0.005em;
    color: #22356F;
}


.section-about__title-grey {
    margin-bottom: 3vh;
    font-size: 0.8em;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}

.section-about__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15vh;
}

.section-about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 360px;
    height: 360px;
}

.item-content {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    border-top: 2px solid white;
    width: 70%;
}

.item-circle {
    margin-right: 15px;
    align-self: flex-start;
    color: #E9B730;
    font-size: 1.8em;
}

.item-title {
    font-size: 1.8em;
    line-height: 1.2em;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.section-about__item_pink {
    background-color: #FFE2DE;
}

.section-about__item_green {
    background-color: #C4E769;
}


.section-about__item_blue {
    background-color: #62D0DF;
}

.section-about__item_indigo { 
    background-color: #0052C1;
}

/*--------------------Services--------------------*/

.section-services {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 480px;
    height: 480px;
}

.services_physical {
    background-color: #22356F;
}

.services_mental {
    background-color: #0052C1;
}

.services_nutricion {
    background-image: url(../../assets/images/section-services.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_gymnastics { 
    background-color: #62D0DF;
}

.services_crossfit {
    background-color: #DEE1FF;
}

.services_aerobics { 
    background-color: #8F00FF;
}

/*--------------------Program--------------------*/

.section-program {
    display: flex;
    flex-wrap: wrap;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 480px;
}

.program__info {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.program__title {
    font-size: 1.5em;
    letter-spacing: -0.03em;
    color: #22356F;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.program__text {
    font-size: 0.9em;
    line-height: 1.5em;
    letter-spacing: -0.03em;
    margin-top: 0;
    margin-bottom: 6vh;
    color: rgba(34, 53, 111, 0.5);
}

/*--------------------Also Know--------------------*/

.section-also {
    display: flex;
    flex-direction: row;
    gap: 7vw;
}

.section-also__info {
    min-height: 100%; 
}

.section-also__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 43vw;
    min-height: 100%;
}

.section-also__title {
    margin-bottom: 5vh;
    font-size: 1em;
    letter-spacing: 0.06em;
    color: #22356F;
}

.section-also__text {
    margin-top: 5vh;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.7em;
    letter-spacing: -0.01em;
    color: #22356F;
}

.section-also__text_blue {
    color: #6CD3E1;
    font-size: 1em;
}

.section-also__button {
    width: 160px;
    padding: 0;
    text-align: start;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #FAB63E;
    background: none;
    border: none;
}

.section-also__button:hover {
    text-decoration: underline;
}

/*--------------------Ready--------------------*/

.section-ready {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    gap: 7vw;
    background: #22356F;

}

.section-ready__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 auto;
}

.section-ready__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 38vw;
    min-height: 100%;
}

.section-ready__subtitle {
    margin-top: 5vh;
    font-size: 1em;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.section-ready__title {
    margin-bottom: 0;
    font-size: 3em;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.section-ready__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.9em;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.section-ready__button {
    width: 160px;
    padding: 0;
    text-align: start;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #62D0DF;
    background: none;
    border: none;
}

.section-ready__button:hover {
    text-decoration: underline;
}

/*--------------------Footer--------------------*/

.footer__contacts {
    display: flex;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
}

.footer__content {
    display: flex;
    flex-direction: column;
    height: 18vh;

}

.footer__title {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: -0.006em;
    color: #22356F;
}

.footer__text {
    font-size: 0.87em;
    line-height: 1.7em;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}

.footer__text_blue {
    color: #006DFF;
}

.footer__text_info {
    width: 15vw;
}

.footer__text_address {
    width: 12vw;
}

.footer__text_contact {
    width: 14vw;
}

.footer__text_schedule {
    width: 10vw;
}

.footer__copy {
    display: flex;
    align-items: center;
    background-color: #62D0DF;
    height: 7vh;
    padding-left: 12vw;
}

.footer__copyright {
    font-size: 0.8em;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px){
    .header {
        background: #F4F9E2;
    }

    .section-head {
        background: #F4F9E2;
    }

    .section-head__info {
        margin: 0 auto;
    }
    
    .section-head__content {
        max-width: 50vw;
    }

    .section-head__image {
        display: none;
    }
}

@media screen and (max-width: 1050px){
    .section-head__content {
        max-width: 60vw;
    }

    .section-whythrive__image {
        width: 40%;
    }

    .section-about__items {
        flex-wrap: wrap;
    }

    .section-also__image, .section-ready__image {
        width: 40%;
    }

    .footer__image {
        width: 30vw;
    }

    .footer__info {
        width: 70vw;
        min-height: 70vh;
    }


}

@media screen and (max-width: 960px){
    .section-whythrive {
        flex-direction: column-reverse;
        background-color: white;
    }
    
    .section-whythrive__info {
        width: 100vw;
        margin-bottom: 5vh;
        background-color: #62D0DF;
    }
    
    .section-whythrive__content {
        max-width: 60vw;
        align-self: center;
        margin-bottom: 3vh;
    }
    
    .section-whythrive__image {
        width: 100vw;
        height: 50vh;
        align-self: center;
    }
    
    .section-whythrive__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .program__info {
        width: 60vw;
    }

    .section-also__button, .section-ready__button {
        margin-bottom: 3vh;
        margin-top: 3vh;
    }

    .section-also__text, .section-ready__text {
        font-size: 1.5rem;
        line-height: 1.7em;
    }

    .footer__image {
        display: none;
    }

    .footer__info {
        width: 100vw;
        min-height: 40vh;
    }
}

@media screen and (max-width: 780px){
    
}