html, body {
    height: 100%;
}

body {
    font-family: 'Inter';
    font-style: normal;
    color: #22356F;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

[class*="__image"]{
    max-width: 100%;
    object-fit: cover;
}

/*--------------------Header--------------------*/

.header {
    background: linear-gradient(to right, #F4F9E2 73.5%, #FFFFFF 26.5%);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 102px;
    width: 1178px;
    margin: 0 auto;

}

.header__logo {
    margin-left: 48px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.nav__link {
    padding-right: 11px;
    padding-left: 11px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #22356F;
}

.nav__link:hover {
    border-bottom: 2px solid #22356F;
    padding-bottom: 5px;
}

.header__button {
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    background: #62D0DF;
    border-radius: 50px;
    border: none;
}

.header__button:hover {
    background: #F9B640;
}

/*--------------------Head--------------------*/

.section-head {
    display: flex;
    flex-direction: row;
    height: 738px;
    background: linear-gradient(to right, #F4F9E2 73.5%, rgb(255, 255, 255) 26.5%);
}

.section-head__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 797px;
    margin: 0 auto;
}

.section-head__content {
    width: 469px;
    margin-left: 30px;
}

.section-head__subtitle {
    margin-bottom: 0px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.section-head__title {
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 46px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
}

.section-head__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 42px;
    color: #22356F;
}

.section-head__buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 75px;
    margin-top: 63px;    
}

.section-head__button-1 {
    width: 150px;
    height: 50px;
    margin-right: 33px;
    background: #F9B640;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
}

.section-head__button-1:hover {
    background: #62D0DF;
}

.section-head__button-2 {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    background: none;
    border: none;
}

.section-head__button-2:hover {
    text-decoration: underline;
}

/*--------------------Why Thrive--------------------*/

.section-whythrive {
    display: flex;
    flex-direction: row;
    height: 604px;
    background-color: #62D0DF;
}

.section-whythrive__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 915px;
    margin: 0 auto;
}

.section-whythrive__content {
    width: 557px;
}

.section-whythrive__title {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 34px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.section-whythrive__text {
    margin-top: 75px;
    font-size: 23px;
    line-height: 35px;
    color: #FFFFFF;
}

.section-whythrive__text_small {
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
}

/*--------------------About us--------------------*/

.section-about {
    height: 965px;
}

.section-about__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 410px;
    width: 1228px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
}

.section-about__title {
    align-self: flex-start;
    margin-top: 108px;
    width: 316px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356F;
}

.section-about__text {
    width: 592px;
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #22356F;
}

.section-about__help {
    height: 555px;
}

.section-about__title-grey {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}

.section-about__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 52.5px;
    padding-right: 52.5px;
    width: 360px;
    height: 360px;
}

.section-about__item-text {
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    border-top: 2px solid white;
    width: 252px;
    height: 93px;
}

.section-about__item-circle {
    margin-right: 15px;
    align-self: flex-start;
    color: #E9B730;
    font-size: 30px;
}

.section-about__item-title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.section-about__item_pink {
    background-color: #FFE2DE;
}

.section-about__item_green {
    background-color: #C4E769;
}


.section-about__item_blue {
    background-color: #62D0DF;
}

.section-about__item_indigo { 
    background-color: #0052C1;
}

/*--------------------Services--------------------*/

.section-services {
    display: flex;
    flex-wrap: wrap;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 480px;
    height: 480px;
}

.services__info {
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    border-top: 2px solid white;
    width: 342px;
    height: 147px;
}

.services__circle {
    margin-right: 15px;
    align-self: flex-start;
    color: #E9B730;
    font-size: 30px;
}

.services__title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.services_physical {
    background-color: #22356F;
}

.services_mental {
    background-color: #0052C1;
}


.services_nutricion {
    background-image: url(../../assets/images/section-services.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_gymnastics { 
    background-color: #62D0DF;
}

.services_crossfit {
    background-color: #DEE1FF;
}

.services_aerobics { 
    background-color: #8F00FF;
}

/*--------------------Program--------------------*/

.section-program {
    display: flex;
    flex-wrap: wrap;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 480px;
    height: 240px;
}

.program__info {
    display: flex;
    flex-direction: column;
    width: 342px;
    height: 147px;
}

.program__title {
    font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;
    color: #22356F;
    width: 234px;
    height: 36px;
    margin-top: 55px;
    margin-bottom: 28px;
}

.program__text {
    font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;
    width: 298px;
    height: 84px;
    margin: 0;
    color: rgba(34, 53, 111, 0.5);
}

/*--------------------Also Know--------------------*/

.section-also {
    display: flex;
    flex-direction: row;
    height: 800px;
    gap: 10vw;
}

.section-also__info {
    min-height: 100%; 
    width: 960px;
}

.section-also__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 676px;
    height: 800px;
}

.section-also__title {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #22356F;
}

.section-also__text {
    margin-top: 75px;
    font-size: 36px;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
}

.section-also__text_blue {
    font-size: 36px;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #6CD3E1;
}

.section-also__button {
    width: 160px;
    padding: 0;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FAB63E;
    background: none;
    border: none;
}

.section-also__button:hover {
    text-decoration: underline;
}

/*--------------------Ready--------------------*/

.section-ready {
    display: flex;
    flex-direction: row;
    height: 800px;
    gap: 10vw;
    background: #22356F;

}

.section-ready__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 960px;
    margin: 0 auto;
}

.section-ready__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 676px;
    height: 800px;
}

.section-ready__subtitle {
    margin-top: 50px;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.section-ready__title {
    margin-bottom: 0;
    font-size: 64px;
line-height: 94px;
letter-spacing: -0.01em;
    color: #FFFFFF;
}

.section-ready__text {
margin-top: 0;
margin-bottom: 0;
    font-size: 36px;
line-height: 53px;
letter-spacing: -0.005em;
    color: #FFFFFF;
}

.section-ready__button {
    width: 160px;
    padding: 0;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #62D0DF;

    background: none;
    border: none;
}

.section-ready__button:hover {
    text-decoration: underline;
}

/*--------------------Footer--------------------*/

.footer__contacts {
    display: flex;
    gap: 5vw;
}

.footer__info {
    display: flex;
    align-items: center;
    width: 870px;
    margin: 70pz;
}

.footer__content {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 183px;

}

.footer__title {
    font-size: 14px;
    font-weight: bold;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
}

.footer__text {
    width: 250px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}

.footer__text_blue {
    color: #006DFF;
}

.footer__text_info {
    width: 190px;
}

.footer__text_address {
    width: 150px;
}

.footer__text_contact {
    width: 180px;
}

.footer__text_schedule {
    width: 120px;
}

.footer__copy {
    display: flex;
    align-items: center;
    background-color: #62D0DF;
    height: 80px;
    padding-left: 180px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}
